<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>



<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<strong>Songs</strong>
  <%= render @user.songs %> 




<%= link_to 'Back', users_path %>
<%#= link_to 'Edit', edit_users_path(@user)%>
