<%= form_for(@song) do |f| %>
<% if @song.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>
  <ul>
    <% @song.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</div>
<div class="field">
  <%= f.label :song_picture %><br />
  <%= f.file_field :song_picture %>
</div>
<div class="field">
  <%= f.label :song %><br>
  <%= f.file_field :song %>
</div>
<div class="field"> 
  <% if can? :create, @song %>
  <%=%> 
  <%#= f.label :user_id %><br>
  <%#= f.collection_select :user_id, User.all, :id, :name %>

  <%end %>
</div>
<div class="actions">
  <%= f.submit class: "button" %>
</div>
<% end %>
