

<li>
  <ul>
    <li><h2><%= song.name %></h2></li>
    <li><h2>DJ -<%= song.user.try(:name) %></h2></li>
    <li><%= song.description %></li>
    <li><%=image_tag song.song_picture.thumb.url %></li>
    <li>
      <audio src="<%= song.song.url %>" controls></audio>
    </li>
    <li><%= link_to 'Show', song %> </li>
  </ul>
</li>
