<!--  i added the  -->

<ul>
  <li><%= song.name %></li>
  <li><%= song.description %></li>
  <li><%= song.name %></li>
  <li><%= song.user.try(:name) %></li>
  <% @user.songs do |song| %>
  <li>
    <%=@song.user_id%>
    <% audio_tag @song.song %>
    <audio src="<%=@song.song.url %>" controls </audio>
  </li>
  <% end %>

</ul> 

