<ul>
  <li> name - <%= song.name %></li>
  <li> description - <%= song.description %></li>
  <li> photo - <%=image_tag song.song_picture.thumb.url %></li>
  <li>
    <audio src="<%= song.song.url %>" controls></audio>
  </li>
</ul>
  <%= link_to 'Show', song, class: "button expand" %> 