<p id="notice"><%= notice %></p>
<p>
  <strong>DJ:</strong>
  <%= @song.user.name %>
</p>
<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @song.description %>
</p>
<p>
  <strong>Picture</strong>
  <%=image_tag @song.song_picture.thumb.url %>
</p>
<p>
  <strong>Song:</strong>
  <audio src="<%= @song.song.url %>" controls></audio>
</p>
<%if user_signed_in? && @song.user != current_user %>
<%if can? :create, @comment %>
<p>
  <strong>Add Comments!</strong>
  <%= render partial: "comments/form", locals: { comment: @comment } %>
</p>
<% end %>
<%end %>
<% if can? :read, @song %>
<p>
 <strong>Comments (<%= @song.comments.count %>)</strong>
 <ul>
  <%= render partial: "comments/comment", collection: Comment.where(song_id: @song.id) %> 
</ul>
</p>
<%end%> 
<% if can? :update, @song %>
<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %> |
<%end%>
<% if can? :create, @comment %> 
<%end %>
<% if can? :destroy, @song %>
<%= link_to 'Delete', @song, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end%> 



