<p id="notice"><%= notice %></p>



<p>
  <strong>DJ:</strong>
  <%= @song.user.name %>
</p>
<p>
    <strong>Name:</strong>
    <%= @song.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @song.description %>
  </p>
  <p>
    <strong>Picture</strong>
    <%=image_tag @song.song_picture.thumb.url %>
  </p>
  <p>
    <strong>Song:</strong>
    <audio src="<%= @song.song.url %>" controls></audio>
  </p>

  <p>
    <strong>Add Comments!</strong>
    <%= render partial: "comments/form", locals: { comment: @comment } %>
  </p>

  <p>
   <strong>Comments (where comments should be)</strong>
   <%= render partial: "comments/comment", locals: { comment: @comment } %> 
  </p>
  
  <%= link_to 'Edit', edit_song_path(@song) %> |
  <%= link_to 'Back', songs_path %>
