<p id="notice"><%= notice %></p>



<p>
  <strong>DJ:</strong>
  <%= @song.user.name %>
</p>
<p>
    <strong>Name:</strong>
    <%= @song.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @song.description %>
  </p>
  <p>
    <strong>Picture</strong>
    <%=image_tag @song.song_picture.url %>
  </p>
  <p>
    <strong>Song:</strong>
    <audio src="<%= @song.song.url %>" controls></audio>
  </p>

<p>
  <strong>Comments</strong>

  <!-- i'm trying to get all the comments relating to this song -->
  
  <ul><%@song.comments.each do |comments| %>
    <li> <%= comments.content %></li>
    <% end %>
    </ul>
<!-- this displays the object of comments but not the comments assign to the song -->
  </p>
  

  <%= link_to 'Edit', edit_song_path(@song) %> |
  <%= link_to 'Back', songs_path %>
