<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @song.description %>
</p>

<p>
  <strong>Song:</strong>
  
  <audio src="<%= @song.song %>" controls
  </audio>
</p>

<p>
  <strong>User:</strong>
  <%= @song.user.name %>
</p>

<p>
  <strong>Comments</strong>
  <p>
    <% @song.comments.each do |comments| %>
      <span> <%=comments%></span>
    <% end %>

</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
