<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li> 
      <h2><%=link_to "Home", page_path('home')%></h2>
      </li>
      <li> 
      <h2><%=link_to "About", page_path('about')%></h2>
      </li>
      <li class="name">
        <h1><%=link_to("DJStudio", users_path)%></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <% if user_signed_in? %>
          <li class="has-dropdown">
          <a href="#">Menu</a>
          <ul class="dropdown">
            <!-- <li><a href="#">First link in dropdown</a></li> -->
            <li class="active"><%=link_to("DJs", users_path)%></li>
            <li class="active"><%=link_to("Songs", songs_path) %></li>
            
          </ul>
        </li>
        
        <li>
          <%= link_to 'Edit', edit_user_registration_path %>
        </li>
        <li>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        </li>
        <% else %>
        <li>
          <%= link_to 'Login', new_user_session_path  %>  
        </li>
        <li>
        <%= link_to 'Register', new_user_registration_path  %>  
        </li>
        <% end %>
      </ul>
      <!-- Left Nav Section -->
          <ul class="left">
            <li><%= link_to 'Add New Song', new_song_path %></li>
            <!-- <li><%#= link_to 'New Comment', new_comment_path %></li> -->
          </ul>
      </section>
  </nav>
  <main class="row">
    <%= yield %>
  </main>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</body>
<footer> 
  <ul class="breadcrumbs">
    <li>home<%#=link_to('Login', new_user_session_path)%></li>
    <li><%=link_to("DJs", users_path)%></li>
    <li><%=link_to("Songs", songs_path) %> </li>    
  </ul>
</footer>
</html>
